<!--<button mat-button>Hello</button>
<button mat-raised-button>Hello</button>
<button mat-flat-button>Hello</button>
<button mat-stroked-button>Hello</button>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Icon</button>
  <button mat-mini-fab>Icon</button>
</div>

<div>
  <button color="primary" mat-button>primary</button>
  <button color="accent" mat-button>accent</button>
  <button color="warn" mat-button>warn</button>
</div>

<div>
  <button color="primary" mat-raised-button>primary</button>
  <button color="accent" disableRipple mat-raised-button>accent</button>
  <button color="warn" mat-raised-button>warn</button>
</div>

<div>
  <mat-button-toggle #toggleBtn checked disabled>{{toggleBtn.checked}}</mat-button-toggle>
</div>

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
si quieres que sea multiple, añade multiple a mat-button-toggle-group
</div>
<hr>
<mat-icon color="primary">grade</mat-icon>

<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeSize="small" matBadgeColor="primary" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium" matBadgeColor="accent" matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeOverlap="false" matBadgeSize="large" matBadgeColor="warn" matBadgePosition="above before">Notifications</span>
</div>

<mat-progress-spinner value="40" *ngIf="showSpinner"></mat-progress-spinner>
<mat-spinner value="40" *ngIf="showSpinner"></mat-spinner>
<button mat-raised-button (click)="loadData()">cargar data</button>-->

<mat-toolbar color="primary" class="navbar" [class.mat-elevation-z2]="true">
  <div>Codevolution</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>

<!--mode over, push, side (side es el no fixed, esos son los tres modos) -->
<!-- asì es lo bàsico<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" >Sidenav</mat-sidenav>
  <mat-sidenav-content>
    Main
    <button mat-flat-button (click)="opened=!opened" >>></button>
  </mat-sidenav-content>
</mat-sidenav-container>-->


<!--opened es la propiedad del componente, opened_ es mi variable
  [()] para asignar el valor de mi varible al componente
  () para que cuando haga una función al abrir (misma correspondencia para cerrar)
  en esa función es que haría el hamburguer
-->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" (opened)="consoleOpen()" (closed)="consoleOpen()" [(opened)]="opened_" >Sidenav</mat-sidenav>
  <mat-sidenav-content>
    Main
    <button mat-flat-button (click)="opened_=!opened_" >>></button>

    <button mat-mini-fab color="primary" (click)="sidenav.close()">
      <mat-icon >arrow_back</mat-icon>
    </button>

    <button mat-mini-fab color="primary" (click)="sidenav.open()">
      <mat-icon >arrow_forward</mat-icon>
    </button>

    <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
      toggle
    </button>

  </mat-sidenav-content>
</mat-sidenav-container>